.header{
    height: 2.4rem;
    padding: 1rem;
    background: #02070c;
    display: flex;
}
.img{
    height: 40px;
    width: 80px;
    margin-left: 2rem;


}


.input:focus{
    outline: none;
    box-shadow: 0px 0px 10px 2px #e8e8c6;
}