.header{
    padding: 1.4rem;
    background: #1a1818;
}

.sIcon{
    margin-left: -2rem;
}
.input{
    border-radius: .2rem;
    padding: .4rem;
    padding-left: 1rem;
    width: 20%;
    background: #181717;
    border: 2px rgba(255, 255, 255, 0.38) solid;
    color: white;
}

.input:focus{
    outline: none;
    box-shadow: 0px 0px 10px 2px #e8e8c6;
}